body {
  background-color: #3D087B;
   width:auto;
   height: auto;
}

.First{
 margin-left: 120px;
}
.Clock {
  position: relative;
  left:5px;
  top:20px;
  height: 320px;
  width: 560px;
 background-color: white;
  border: 2px solid #EDEDED;
  border-radius: 15px;
}
.Text {
  position: relative;
  left: 140px;
  top:40px;
  background-color: #693e9bde;
  height: 80px;
  width: 520px;
  border: 2px solid #693e9bde;
  border-radius: 10px;
  /* padding: 10px; */
  color: #FFFFFF;
  font: normal normal 900 27px/34px Bauhaus Hv BT;
}
#Good{
  position: absolute;
  text-align: center;
  width: 450px;
  height: 100px;
  font-size: 20px;
}
.Pep{
  position: relative;
  top:10px;
  left:6px;
  height: 50px;
  width: 50px;
  background-color:white;
  background-image: url(./wake_up.svg);
  background-size: cover;
}
#Pre_id{
  position: absolute;
  color: #8A11BF;
  left:100px;
  top:-5px;
  width: 300px;
  font-size: 20px;
}
#Prep_id1{
  position:absolute;
  top:5px;
  width:240px;
  height:40px;
  left:280px;
 font-size: 15px;
  border-radius: 5px;
}
#single{
  position: relative;
  top:10px;
  color: #8A11BF;
  left:30px;
  font-size: larger;
  font-weight: bolder;
  margin: auto;
}
.Prep2{
  position: relative;
  top:10px;
  left:6px;
  height: 50px;
  width: 50px;
  background-color:white;
  background-image: url(./lunch_time.svg);
  background-size: cover;
}
#Prep2_id{
  position: absolute;
  color: #8A11BF;
  background-color: white;
  left:100px;
  top:-5px;
  width: 200px;
  font-size: 20px;
}
#Prep_id2{
  position:absolute;
  top:5px;
  width:240px;
  height:40px;
  left:280px;
  background-color: white;
  border-radius: 5px;
}
.Prep3{
  position: relative;
  top:10px;
  left:6px;
  height: 50px;
  width: 50px;
  background-color:white;
  background-image: url(./nap_time.svg);
  background-size: cover;
}
#Prep_id3{
  position: absolute;
  color: #8A11BF;
  background-color: white;
  left:100px;
  top:-5px;
  width: 200px;
  font-size: 20px;
}
#Prep3_id{
  position:absolute;
  top:5px;
  width:240px;
  height:40px;
  left:280px;
  background-color: white;
  border-radius: 5px;
}
.Prep4{
  position: relative;
  top:10px;
  left:6px;
  height: 50px;
  width: 50px;
  background-color:white;
  background-image: url(./nap_time.svg);
  background-size: cover;
}
#Prep_id4{
  position: absolute;
  color: #8A11BF;
  background-color: white;
  left:100px;
  top:-5px;
  width: 200px;
  font-size: 20px;
}
#Prep4_id{
  position:absolute;
  top:5px;
  width:240px;
  height:40px;
  left:280px;
  background-color: white;
  border-radius: 5px; 
}
#Onclick{
  position: relative;
  border-radius: 10px;
  height:50px;
  width: 250px;
  font-weight: bolder;
  top:50px;
  left:130px;
   font-size: 20px;
   color:#8A11BF;
   background-image:linear-gradient(to right,#6E54EC,#CB52F8,#FC5EFF,#F1A7C5);
}
#Onclick:hover{
   background-image:linear-gradient(to right,#7863e1,#a32fce,#d112d4,#b81053); 
}
#Onclick::before{
  content:"Set Alaram"
 
}
#Onclick:hover::before
{
  display:none;
}
#Onclick:hover::after
{
 content:"party time!"
}
.container2{
  position: relative;
  height:130px;
  width: 250px;
  left:430px;
  top:-15px;
  background-color:#cf8fea;
  border-radius: 10px;
}
#con1{
  text-align: center;
  font-weight: bolder;
  color:#9e10d1
}
#con2{
  text-align: center;
  font-weight: bolder;
  color:#9e10d1
}
#con3{
  text-align: center;
  font-weight: bolder;
  color:#9e10d1
}
#con4{
  text-align: center;
  font-weight: bolder;
  color:#9e10d1
}

#b1{
  left: 10px;
  font-size: 24px; 
  gap:10px;

}
#b2{
  text-align: center;
  font-size: 23px;
  width: 60px;
  height: 55px;
  border-radius: 5px;
  background-color:#d6b6e5;
}
#b3{
  text-align: center;
  font-size: 23px;
  width: 60px;
  height: 55px;
  border-radius: 5px;
  background-color: #d6b6e5;
}
#b4{
  text-align: center;
  font-size: 23px;
  width: 60px;
  height: 55px;
  border-radius: 5px;
  background-color: #d6b6e5;
}
#b5{
  display: flex;
 justify-content: center;
 align-items: center;
  font-size: 30px;
  width: 60px;
  height: 55px;
  border-radius: 5px;
  background-color:#d6b6e5;
  opacity: 1;
  z-index: 3;
}
.dt{
  font-size: 36px;
  color: #CB52F8;
}

.Another_clock{
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-around;
  height: 80px;
  width: 530px;
  align-items: center;
 top:25px;
 left:780px;
 background-color: white;
 border-radius: 10px; 
}
.shadow{
  width: 420px;
  height: 70px;
  background-color: #e8e6eb;
 
  border-radius: 10px;
  position: absolute;
  left: 850px;
  top: 55px;
  opacity: 0.22;
  z-index: -2;

}
.shadow1{
  background-color: #eaeaea;
    width: 450px;
    height: 55px;
    
    border-radius: 10px;
    position: absolute;
    left: 830px;
    top: 60px;
    z-index:-1;
    opacity: 0.7;


}

.Image_change{
  position: absolute;
  left: 780px;
  top:260px;
}
.food{
  position: absolute;
  left: 780px;
 top:120px;
}
.food h3 {
  background-color: #d5ced8;
  height: 50px;
  width: 510px;
  text-align: center;
  color: #8E53F0;
  padding: 20px;
  border-radius: 10px;
  font: normal normal 900 25px/35px Bauhaus Hv BT;
}

/* ----------MEDIA QUERRY--------------*/
@media (max-width: 620px) {
  body {
    position: relative;
    background-color: #6511c5;
    overflow-x:hidden ;
    overflow-y: scroll;
  }
  .First {
      position: relative;
      left: 10px;
      top: 10px;
  }
  #c1 {
      height: 60px;
      width: 90px;
  }
  .Another_clock {
      width: 300px;
      height: 80px;
      font-size: 20px;
      position: absolute;
      left: 20px;
      top: 100px;

  }
  .shadow{
      width: 280px;
      height: 60px;
      position: absolute;
      left: 30px;
      top: 135px;
      z-index: -1;
  }
  .shadow1 {
      width: 280px;
      height: 38px;
      position: absolute;
      left: 30px;
      top: 150px;
      z-index: -2;
  }

  
  .food {
      position: absolute;
      top: 190px;
      left: 10px;
  }

  .food h3 {

      height: 50px;
      width: 280px;
      text-align: center;
      font-size: 18px;
      font-weight: bolder;
  }
  .Clock {
      height: 230px;
      width: 320px;
      position: absolute;
      left:-120px;
      top: 300px;

  }

  #single {
      position: relative;
      top: 20px;
      left: 20px;
      font-size: 18px;
      font-weight: bolder;
      margin: auto;
  }

  .Pep {
    position: relative;
    width: 30px;
    height: 30px;
    top: 20px;
  }

  #Pre_id {
    position: absolute;
      left: 50px;
      font-size: 20px;
  }

  #Prep_id1 {
    position: relative;
    left: 190px;
    height: 20px;
    width: 100px;
    font-size: 15px;
   
  }

  .Prep2 {
      position: relative;
      width: 30px;
      height: 30px;
      top: 20px;
  }

  #Prep2_id {
      position: absolute;
      left: 50px;
      font-size: 20px;
  }

  #Prep_id2 {
      position: absolute;
      left: 190px;
      height: 20px;
      width: 100px;
      font-size: 15px;
  }

  .Prep3 {
      position: relative;
      top: 27px;
      left: 15px;
      width: 25px;
      height: 25px;
  }

  #Prep_id3 {
      position: absolute;
      left: 45px;
      font-size: 21px;
  }

  #Prep3_id {
      position: absolute;
      left: 190px;
      height: 20px;
      width: 90px;
      font-size: 15px;
  }

  .Prep4 {
      position: relative;
      top: 25px;
      left: 10px;
      width: 25px;
      height: 25px;
  }

  #Prep_id4 {
      position: absolute;
      left: 50px;
      font-size: 20px;
  }

  #Prep4_id {
      position: absolute;
      left: 190px;
      height: 20px;
      width: 90px;
      font-size: 15px;
  }

  .Image_change {
      position: relative;
      top: 240px;
      left: 10px;
  }
  .change2{
    position:absolute;
    width: 320px;
    height: 250px;
  }
  
  .Text {
      position: relative;
      top: 720px;
      left: 10px;
     width: 300px; 

  }

  #Good {
      background-color: #693e9bde;
      height: 20px;
      width: 220px;
      font-size: 16px;
      text-align: center
  }
  .container2 {
      position: relative;
      height: 100px;
      width: 280px;
      left: 20px;
      top: 740px;
      font-size:12px;
      text-align: center;
  }
 #Onclick{
    position: relative;
    height:40px;
    width: 200px;
    top:730px;
    left: 20px;
     font-size: 16px;
  }
}
@media (min-width:650px) and (max-width:900px) 
  {
    body {
      position: relative;
      background-color: #6511c5;
    }
    .First {
        position: relative;
        left: 80px;
        top: 10px;
    }
    #c1 {
        height: 80px;
        width: 190px;
    }
    .Another_clock {
        width: 620px;
        height: 90px;
        font-size: 30px;
        position: absolute;
        left: 70px;
        top: 90px;
  
    }
    .shadow{
        width: 600px;
        height: 60px;
        position: absolute;
        left: 100px;
        top: 135px;
        z-index: -1;
    }
    .shadow1 {
        width: 570px;
        height: 45px;
        position: absolute;
        left: 90px;
        top: 150px;
        z-index: -2;
    }
  
    
    .food {
        position: absolute;
        top: 190px;
        left: 60px;
    }
  
    .food h3 {
  
        height: 60px;
        width: 630px;
        text-align: center;
        font-size: 24px;
        font-weight: bolder;
    }
    .Clock {
        height: 320px;
        width: 650px;
        position: absolute;
        left: -120px;
        top: 340px;
  
    }
  
    #single {
        position: relative;
        top: 20px;
        left: 20px;
        font-size: 24px;
        font-weight: bolder;
        margin: auto;
    }
  
    .Pep {
      position: relative;
      width: 50px;
      height: 50px;
      top: 5px;
    }
  
    #Pre_id {
      position: absolute;
        left: 80px;
        font-size: 35px;
    }
  
    #Prep_id1 {
      position: relative;
      left: 370px;
      height: 30px;
      width: 250px;
      top: 15PX;
      font-size: 15px;
     
    }
  
    .Prep2 {
      position: relative;
      width: 50px;
      height: 50px;
      top: 5px;
    }
  
    #Prep2_id {
      position: absolute;
      left: 80px;
      font-size: 35px;
    }
  
    #Prep_id2 {
      position: relative;
      left: 370px;
      height: 30px;
      width: 250px;
      top: 15PX;
      font-size: 15px;
    }
  
    .Prep3 {
      position: relative;
      width: 50px;
      height: 50px;
      top: 5px;
    }
  
    #Prep_id3 {
      position: absolute;
      left: 80px;
      font-size: 35px;
    }
  
    #Prep3_id {
      position: relative;
      left: 370px;
      height: 30px;
      width: 250px;
      top: 15PX;
      font-size: 15px;
    }
  
    .Prep4 {
      position: relative;
      width: 50px;
      height: 50px;
      top: 5px;
    }
  
    #Prep_id4 {
      position: absolute;
        left: 80px;
        font-size: 35px;
    }
  
    #Prep4_id {
      position: relative;
      left: 370px;
      height: 30px;
      width: 250px;
      top: 15PX;
      font-size: 15px;
    }
  
    .Image_change {
        position: relative;
        top: 540px;
        left: 70px;
         width: 950px;
         height: 300px;
    }
    .change2{
      position:relative;
      
    }
    
    .Text {
        position: absolute;
        top: 700px;
      /* left: 10px; */
      left:80px;
      width: 620px;
      height: 90px;
        
  
    }
  
    .Text h3 {
        background-color: #693e9bde;
       
        font-size: 28px;
        text-align: center
    }
    .container2 {
        position: relative;
        height: 120px;
        width: 300px;
        right: 60px;
        top: 1050px;
        font-size:16px;
        text-align: center;
        padding: auto;
    }
   #Onclick{
      position: relative;
      height:60px;
      width: 320px;
      top:1150px;
      left: 90px;
       font-size: 16px;
    }
  }
